.site-button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  background-color: var(--clr-second-bg);
  color: var(--clr-text);
  padding: 0.8em 1rem;
  transition: var(--transition1);
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.site-button:hover {
  background-color: var(--main-color);
  outline: 1px solid var(--main-color);
  color: var(--clr-bg);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
